// Define border radius variables
$border-radius-large: 16px;
$underline-width: 3px;
$gray-10: #F3F3EF;


/* Custom code for home page cards */
#cards-view {
    .card {
        width: 100%;
        margin-bottom: 20px;
        background-color: #1A1B1F;
        border-style: none;
        border-radius: 20px;

        .card-img-top {
            width: 100%;
            height: auto; // Allow height to adjust automatically
            position: relative; // Position relative for the parent

            // Create an aspect ratio box
            &::before {
                content: "";
                display: block;
                padding-top: 75%; // 4:3 aspect ratio (3/4 = 75%)
            }

            // Ensure the image fills the aspect ratio box
            img {
                position: absolute; // Position absolute to cover the parent
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover; // Ensures the image covers the area
                object-position: center; // Center the image if it's cropped
                border-radius: 20px 20px 0 0;
            }
        }
    }
}



/*for the homepage*/
.card-body {
    display: flex;              // Enable flexbox
    flex-direction: row;        // Arrange elements in a row
    align-items: center;        // Align items vertically in the center
    justify-content: space-between; // Distribute space between the text and the button


    h1, h2, h4, h5 {
    color: white;
    }
    p {
        color: $gray-10;
    }
  }

  /* Remove underline from the link */
.card-link {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits text color */
}

/* Style for the arrow button */
.card-arrow {
    display: inline-block;
    background-color: #e9e9e92e;
    margin-top: 10px; /* Add some spacing if needed */
    transition: 0.3s;
    border-radius: 10px;
    padding: 10px;
}

.card-arrow svg {
    fill: #fff; /* Set the color of the arrow */
    transition: transform 0.5s ease; /* Smooth transition for hover effect */
}

/* Optional hover effect for the arrow */
.card-link:hover .card-arrow svg {
    transform: translateX(0px); /* Moves the arrow to the right when hovering */
    fill: #1A1B1F;
}

.card-link:hover .card-arrow {
    background-color: #F3F3EF;
    transition: 0.3s;
    margin-right: 0px;
}