// Import the Staatliches font from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

// Apply the Staatliches font to all headers
h1, h2, h3, h4, h5, h6 {
    font-family: 'Staatliches', sans-serif;
}

// Apply the Archivo font to body and paragraphs
body, p, table, th {
    font-family: 'Archivo', sans-serif;
}

.thead-dark {
    background-color: #212F3C;
    color: #EBEDEF;
}

h1 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

//Table style
#watches-table img {
    width: 100px; // Set the width of the image
    height: 100px; // Force height to be the same as the width (making it square)
    object-fit: cover; // Ensures the image maintains its aspect ratio and is cropped if necessary
    border-radius: 4px; // Apply a 4px border radius
  }
  