@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
.bg-brand {
  background-color: #5856D6;
}

.dark-section {
  background-color: #131417;
}

.btn-primary {
  background-color: #5856D6;
  border-color: #5856D6;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #4c4ac3;
}

.border-16 {
  border-radius: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

h3 {
  font-size: 25px;
  line-height: 110%;
}

.subtitle {
  font-weight: 300;
  color: whitesmoke;
  line-height: 140%;
  letter-spacing: 0.5 px;
}

body, p, table, th {
  font-family: "Archivo", sans-serif;
}

.thead-dark {
  background-color: #212F3C;
  color: #EBEDEF;
}

h1 {
  text-align: center;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

.nav-item {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
}

.navbar-dark {
  background-color: #131417;
}

label {
  display: block;
  margin-top: 10px;
  font-family: "Manrope", sans-serif;
}

input[type=text], textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#watches-table img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}