@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: "Staatliches", sans-serif;
}

body, p, table, th {
  font-family: "Archivo", sans-serif;
}

body {
  background-color: #D6DBDF;
}

.thead-dark {
  background-color: #212F3C;
  color: #EBEDEF;
}

h1 {
  text-align: center;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
}

input[type=text], textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#watches-table img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}